@page "/forge"

@inject NavigationManager navigationManager
@inject ITokenManager tokenManager
@inject ConfigurationManager configurationManager

<h3>Forge</h3>

@if (_user != null)
{
<div>
    <h3>First name</h3>
    <RadzenTextBox Value="@_user.firstName" Disabled="true"/>
    <h3>Last name</h3>
    <RadzenTextBox Value="@_user.lastName" Disabled="true" />
    <h3>Email</h3>
    <RadzenTextBox Value="@_user.emailId" Disabled="true" />
    <h3>Token</h3>
    <RadzenTextArea Value="@_token.AccessToken" Disabled="true" Cols="80" Rows="10"/>
    <h3>Experies on</h3>
    <RadzenDatePicker @bind-Value="@_token.ExpiresOn" Disabled="true" />

</div>
}

@code {
    private Token _token;
    private ForgeUser _user;

    protected override async Task OnInitializedAsync()
    {
        if (tokenManager.Configured)
        {
            _token = await tokenManager.GetAccessToken();
            _user = await tokenManager.GetForgeUser(_token.AccessToken);
        }
    }

}
